@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Work+Sans:wght@100;200;300;400;500;600;700&display=swap');

* {
     margin: 0;
     padding: 0;
     border: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
     text-decoration: none;
     list-style: none;
}

:root {
     --color-white: #ffffff;
     --color-light: #F3F5F7;
     --color-grey-hover: #DBDCDE;
     --color-grey-active: #CED1D4;
     --color-grey-outline: #8D97A4;
     --color-grey-font: #77828F;
     --color-gray-dark: #56555e;
     --color-gray-dark2: #5B6676;
     --border-outline-multistep: #A9B1BC;
     --chat-bubble-bg: #E8EBEF;
     --color-dark: #27282f;
     --color-dark-header: #313131;
     --color-dark-secondary: #263446;
     --color-darker: #192434;
     --color-primary: #1164F5;
     --color-primary-fade: #87AFF5;
     --color-primary-fade2: #6E9FF5;
     --color-primary-dark: #0551DA;
     --dark-primary: #1368e3;
     --color-secondary: #F542A0;
     --color-error: #FF2A1F;
     --color-success: #00A344;
     --color-success2: #56BB6A;
     --color-success-dark: #41A36A;
     --color-neutral: #192434;

     --form-bg: #F2F2F2;
     --color-grey: #E5E5E5; 
     --color-grey2: #C4CAD3;
     --color-grey-out: #A3A3A3;

     --color-primary-light: rgba(17, 100, 245, 0.2);
     --color-secondary-light: rgba(245, 66, 160, 0.2);
     --color-error-light: rgba(255, 42, 31, 0.2);
     --color-success-light: rgba(0, 163, 68, 0.2);
     --color-neutral-light: rgba(25, 36, 52, 0.2);

     --form-border-radius: 4px;
     --card-border-radius: 9px;
     --card-button-border-radius: 6px;
     --form-padding: 12px 40px 12px 20px; 
     --form-padding-multistep: 7px 10px 7px 10px;
     --form-padding-mobile: 7px 0;
     --contact-list-padding: .6rem 1rem .6rem .6rem;
     --form-height: 2.7rem;
     --form-height-mobile: 2rem;
     --font-small-mobile: .75rem;
     --large-font-hero: 3.1rem;
     --large-font-hero-tablet: 2.5rem;
     --large-font-hero-mobile: 2rem;
     --form-margin-multistep: .6rem;
     --form-margin-multistep-tablet: .3rem;
     --form-margin-multistep-mobile: .5rem;
     --text-color: #8D97A4;

     /* Message, Sub plans  */
     --dashboard-wrapper-padding: .5rem;


     --dashboard-header-padding: 0 1rem;
     --dashboard-card-padding: 1rem;
     --dashboard-card-radius: 7px;
     --dashboard-card-font-color: #414D5E;
     --color-grey-font: #77828F;
     --card-silver-lining: #CBCFD5;




     --color-white-new: #202528;
     --color-light-new: #181A1E;
     --color-dark-new: #ddd;
     --color-gray-dark-new: #adacb5;
}


html {
     font-size: 16px;
     color: var(--color-dark);
}

img {
     width: 100%;
}

h1 {
     font-size: var(--large-font-hero);
     font-weight: 700;
}

h2 {
     font-size: 1.8rem;
     line-height: 3.2rem;
}

h3 {
     font-size: 1.5rem;
}

h4 {
     font-size: 1rem;
}

/* ==================== GLOBAL STYLES ================ */
nav .container, main > .container {
     width: 94%;
     margin: 0 auto;
     padding: 0 1.45rem;
}

.card-n-button {
     display: flex;
     flex-direction: column;
     align-items: flex-end;
     gap: 2rem;
}

.card-header {
     font-size: .9rem;
     color: var(--color-grey-font);
     font-weight: 500;
}

.card-button {
     font-weight: 500;
     font-size: .95rem;
     width: 100%;
     display: block;
     padding: .5rem;
     color: var(--color-white);
     background: var(--color-primary);
     cursor: pointer;
     height: var(--form-height);
     border-radius: var(--card-button-border-radius);
     display: flex;
     justify-content: center;
     align-items: center;
     transition: all 300ms ease;
}

.card-button:hover {
     background: var(--color-primary-dark);
}

.card-button:focus {
     background: var(--color-primary-dark);
}

.card-button:active {
     background: var(--color-primary-dark);
}

.settings-btn {
     background: var(--form-bg);
     color: var(--color-primary);
     font-size: .8rem;
}

.settings-btn:hover {
     background: #E7E8E8;
}

.settings-btn:focus {
     background: #E7E8E8;
}

.settings-btn:active {
     background: #E7E8E8;
}

.card-button > h4 {
     font-size: .95rem;
     font-weight: 500;
}

/* ==================== FORM STYLES ================ */
.form-group {
     width: 100%;
}

.form-group label {
     display: inline-block;
     font-weight: 500;
     font-size: .75rem;
     color: var(--color-grey-outline);
}

.form-group .input-group {
     padding: 0;
     width: 100%;
     position: relative;
}

.form-group input, .form-group select {
     border: 1px solid var(--border-outline-multistep);
     height: 2.1rem;
     width: 100%;
     padding: var(--form-padding-multistep);
     background: var(--form-bg);
     border-radius: var(--form-border-radius);
     outline: none;
     color: var(--color-dark);
     font-size: .7rem;
}

.form-group .input-select {
     position: relative;
}

.form-group .input-select::after {
     color: var(--color-primary);
     content: '▾';
     pointer-events: none;
     position: absolute;
     right: 10px;
     top: 2.5px;
     font-size: 20px;
}

.form-group .input-select select {
     -moz-appearance: none;
     -webkit-appearance: none;
     cursor: pointer;
}

.form-group .input-select select::-ms-expand {
     display: none;
}


/* ==================== GLOBAL NAV STYLES ================ */
nav {
     width: 100%;
     height: 8.5vh;
     padding: 0;
     display: flex;
     align-items: flex-end;
}

.dash-nav {
     height: 9vh;
}

nav .container {   
     display: flex;
}

img.nav-brand {
     margin: 0;
     width: 110px;
     height: 34px;
}


/* ==================== GLOBAL MAIN STYLES ================ */
main {
     width: 100%;
     height: auto;
}


/* ==================== MEDIA QUERIES FOR MOBILE ================ */
@media  screen and (max-width: 800px) {
     nav {
          height: 6.7vh;
     }

     .dash-nav {
          height: 9vh;
     }

     nav .container, main > .container {
          padding: 0 .1rem;
          width: 99%;
     }

     nav .container {
          padding: 0 1rem;
     }

     nav img.nav-brand {
          width: 6rem;
     }

     main {
          height: auto;
     }
}


@media  screen and (max-width: 600px) {
     nav img.nav-brand {
          width: 5rem;
     }
}

